@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'glitchGoblin';
    src:url('../public/fonts/GlitchGoblin-2O87v.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}